
/* Footer */

.footerDiv{
    width: 100%;
    height: 600px;

    background: linear-gradient(
    135deg,
    #1F5F2A 0%,
    #2E7D32 45%,
    #3FA34D 100%
    );

    clip-path: polygon(
    0% 100%,
    0% 0%,
    150% 100%,
    80% 100%
    );
}

.footerDiv h1{
    padding-left: 50px ;
    padding-top: 200px;
    font-family: 'poppins';
    color: #7CFF7A;
}

@media(max-width:768px){
      .footerDiv{
      width: 100vw;
      max-width: 100%;
      height: auto;
      overflow: hidden;
      padding-bottom: 50px;

      /* SAFE FOOTER CLIP-PATH */
      clip-path: polygon(
        0% 20%,
        0% 100%,
        100% 100%,
        100% 0%
      );
  }

  .footerDiv h1{
      padding: 80px 16px 0;
      text-align: center;
      font-size: 28px;
  }
}
