/* ================= FOOTER ================= */

.footerDiv{
  width: 100%;
  height: 600px;
  background: linear-gradient(
    135deg,
    #1F5F2A 0%,
    #2E7D32 45%,
    #3FA34D 100%
  );

  clip-path: polygon(
    0% 100%,
    0% 0%,
    150% 100%,
    80% 100%
  );

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MAIN CONTENT */
.footerContent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;                 /* ⬅ reduced gap */
  padding: 200px 40px 40px; /* ⬅ reduced side padding */
  max-width: 990px;        /* ⬅ keeps content inside green area */
}

/* COLUMN */
.footerCol h3{
  font-family: "poppins";
  font-size: 20px;
  margin-bottom: 16px;
  color: #7CFF7A;
  margin-right: 10px;
}

.footerCol ul{
  list-style: none;
  padding: 0;
}

.footerCol a{
    text-decoration: none;
    color: white;
}

.footerCol li{
  margin-bottom: 10px;
  font-family: "poppins";
  font-size: 15px;
  cursor: pointer;
}

.footerCol a:hover{
  color: #7CFF7A;
}

.footerCol p{
  font-family: "poppins";
  font-size: 15px;
  margin-bottom: 10px;
}

/* DIVIDER */
.footerDivider{
  width: 90%;
  height: 1px;
  background: rgba(255,255,255,0.4);
  margin: 0 auto;
}

/* COPYRIGHT */
.footerBottom{
  text-align: center;
  padding: 20px 0 30px;
  font-family: "poppins";
  font-size: 14px;
  color: #e0ffe3;
}

/* ================= MOBILE ================= */

@media (max-width: 768px){

  .footerDiv{
    height: auto;
    clip-path: polygon(
      0% 10%,
      0% 100%,
      100% 100%,
      100% 0%
    );
  }

  .footerContent{
    grid-template-columns: 1fr;
    padding: 120px 20px 40px;
    text-align: center;
  }

  .footerDivider{
    width: 80%;
  }

}
