@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Farro:wght@300;400;500;700&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        background-color: white;
    }

.mainNav{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    background: white;

    z-index: 1000;
    box-sizing: border-box;
}

.brand{
    font-family: "poppins";
    color:black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img{
    width: 110px;
    height: 110px;
}

.brand a{
    text-decoration: none;
    color: #0c110c;
}

.brand span{
    background: linear-gradient(90deg, #00C6A0, #2196F3, #7A1FA2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 28px;
}

.navLinks{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.mainNav li{
    display: inline-block;
    padding: 5px 20px;
    font-family: "poppins";
    color: black;
}

.navLinks a{
    position: relative;
    text-decoration: none;
    color: black;
    transition: transfrom 0.5s ease;
}

.navLinks a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #00C6A0;
    transition: width 0.5s ease;
}


.navLinks a.active {
  transform: translateX(12px);
}

.navLinks a.active::after {
  width: 100%;
}


.navLinks a.active{
    color:  #00C6A0;
}

.mainNav.scrolled{
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.mainNav.scrolled a::after{
    background-color: #00C6A0;
}

.hamburger{
    display: none;
}

.menu{
    display: none;
}

@media (max-width: 768px) {

  /* ---------- NAVBAR ---------- */

  .mainNav{
      padding: 0 12px;
      height: 56px;
      flex-wrap: nowrap;
      background-color: white;
      border-bottom: none;
      z-index: 2000;
  }

  .brand{
      font-size: 13px;
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .navLinks{
    display: none;
  }

  .hamburger{
    display: block;
    cursor: pointer;
    color: black;
    z-index: 3000;
  }

.menu{
  position: fixed;
  top: 56px;
  right: 12px;

  width: 180px;
  background: white;
  border-radius: 10px;
  padding: 18px 0;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;

  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;

  z-index: 9999999; /* forever on top */
}

  .menu.active{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  .menu a{
    font-family: "poppins";
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin-left: 18px;   
  }

  .menu a:hover{
    color: #2b5b2e;
  }


   .menu a.active {
       transform: translateX(12px);
    }

    .menu a.active::after {
       width: 100%;
    }


.menu a.active{
    color:#335732;
}


  .mainNav a{
      font-size: 12px;
  }

  .mainNav a::after{
      height: 2px;
      bottom: -4px;
  }

  .mainNav.scrolled{
      background: #ffffff;
      box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  }

  .mainNav.scrolled a,
  .mainNav.scrolled .hamburger,
  .mainNav.scrolled .brand{
      color: #000;
  }

.mainNav.scrolled a::after{
    background-color: black;
}

.brand img{
    width: 70px;
    height: 70px;
}

.brand a{
    text-decoration: none;
    color: #0c110c;
}

.brand span{
    background: linear-gradient(90deg, #00C6A0, #2196F3, #7A1FA2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 18px;
}


}