@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Farro:wght@300;400;500;700&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        background-color: white;
    }

.mainNav{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 60px;
    background: linear-gradient(
    135deg,
    #1F5F2A 0%,
    #2E7D32 45%,
    #3FA34D 100%
    );

    z-index: 1000;
    box-sizing: border-box;
}

.brand{
    font-family: "poppins";
    color: white;
    font-weight: 600;
}

.navLinks{
    display: flex;
    gap: 30px;
}

.mainNav li{
    display: inline-block;
    padding: 5px 20px;
    font-family: "poppins";
    color: white;
}

.mainNav a{
    position: relative;
    text-decoration: none;
    color: white;
    transition: transfrom 0.5s ease;
}

.mainNav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background:  #7CFF7A;
    transition: width 0.5s ease;
}


.mainNav a.active {
  transform: translateX(12px);
}

.mainNav a.active::after {
  width: 100%;
}


.mainNav a.active{
    color:  #7CFF7A;
}

.mainNav.scrolled{
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.mainNav.scrolled a,
.mainNav.scrolled li,
.mainNav.scrolled .brand{
    color: black;
}

.mainNav.scrolled a::after{
    background-color: black;
}

.hamburger{
    display: none;
}

.menu{
    display: none;
}

@media (max-width: 768px) {

  /* ---------- NAVBAR ---------- */

  .mainNav{
      padding: 0 12px;
      height: 56px;
      flex-wrap: nowrap;
      background-color: #073738;
      border-bottom: none;
      z-index: 2000;
  }

  .brand{
      font-size: 13px;
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: white;
  }

  .navLinks{
    display: none;
  }

  .hamburger{
    display: block;
    cursor: pointer;
    color: white;
    z-index: 3000;
  }

  .menu{
    position: fixed;
    top: 0;
    right: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(
    135deg,
    #1F5F2A 0%,
    #2E7D32 45%,
    #3FA34D 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;

    z-index: 1500;
  }

  .menu.active{
    transform: translateX(0);
  }

  .menu li{
    list-style: none;
  }

  .menu a{
    font-family: "poppins";
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .menu a:hover{
    color: #3FA34D;
  }

  .menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background:  #7CFF7A;
    transition: width 0.5s ease;
   }

   .menu a.active {
       transform: translateX(12px);
    }

    .menu a.active::after {
       width: 100%;
    }


.menu a.active{
    color:  #7CFF7A;
}


  .mainNav a{
      font-size: 12px;
  }

  .mainNav a::after{
      height: 2px;
      bottom: -4px;
  }

  .mainNav.scrolled{
      background: #ffffff;
      box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  }

  .mainNav.scrolled a,
  .mainNav.scrolled .hamburger,
  .mainNav.scrolled .brand{
      color: #000;
  }

.mainNav.scrolled a::after{
    background-color: black;
}

}